<!doctype html>
<html>
<head>
<title>Register</title>
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<style>
    body,html{
background: #7F7FD5;
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
height: 100%;
}

.card{
    background-color: rgba(0,0,0,0.4) !important;
}

.white{
    color :white;
}

a.white{
    color: #7F7FD5;
}

</style>


</head>

    <body class="d-flex">
        <div class="container mt-4 card my-auto">

            <h5 class="card-header info-color white-text text-center py-4">
              <strong class="white">Sign Up</strong>
            </h5>
          
            <!--Card content-->
            <div class="card-body mt-3 px-lg-5 pt-0">
          
              <!-- Form -->
              <form style="color: #757575;" action="" method="POST">
          
                <!-- Email -->
                <div class="mb-3 form-group">
                    <label class="white" for="materialLoginFormEmail">Username</label>
                  <input type="text" id="materialLoginFormEmail" name="username" class="form-control">
                </div>

                <div class="mb-3 form-group">
                    <label class="white" for="materialLoginFormEmail">Email</label>
                  <input type="email" id="materialLoginFormEmail" name="email" class="form-control">
                </div>
          
                <!-- Password -->
                <div class="md-form">
                    <label class="white" for="materialLoginFormPassword">Password</label>
                  <input type="password" id="materialLoginFormPassword" name="password" class="form-control">
                </div>
          
          
                <!-- Sign in button -->
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign Up</button>
          
                <div class="text-center">
                    <p class="white">Already have an account ?
                        <a class="white" href="">Login</a>
                      </p>
                </div>
                <!-- Register -->
                
          
              </form>
              <!-- Form -->
          
            </div>
          
          </div>
    </body>
    
</html>